.animation-left {
    position: relative;
    animation: unionLeft 0.7s linear alternate forwards 1.2s;
    left: -300px;
    opacity: 0;
}

.animation-right {
    position: relative;
    animation: unionRight 0.7s linear alternate forwards 1.2s;
    right: -300px;
    opacity: 0;
}

@keyframes unionLeft {
    from {
        transform: translateX() translateY();
    }

    to {
        transform: translateX(300px) translateY(0);
        opacity: 1;
    }
}

@keyframes unionRight {
    from {
        transform: translateX() translateY();
    }

    to {
        transform: translateX(-300px) translateY(0);
        opacity: 1;
    }
}