.sertificate {
  min-width: 0;
  padding: 180px 0 70px;
  overflow: hidden;
}

.sertificate__title {
  position: relative;
  z-index: 1;
}

.sertificate__wrapper {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.gallery-wrapper {
  display: flex;
  gap: 30px;
}

.sertificate-slide a {
  display: block;
}

.sertificate__title {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 30px;
  line-height: normal;
  text-transform: uppercase;
  color: white;
}

.sertificate-slide {
  margin: 10px;
  /* max-height: 300px; */
}

.sertificate-slide img {
  /* max-height: 300px; */
}

@media(max-width: 767px) {
  .sertificate__title {
    font-size: 24px;
    /* color: white; */
  }


}